.loginbg {
    background:linear-gradient(360deg,rgba(255,100,100,.24) 0%,rgba(248,249,251,0) 90.15%,#f6edfe 114.85%), url(../../assets/images/loginbg.jpg) no-repeat ;
    width:100%;
    background-size: cover;
    height: 542px;
}
.formbg {
    background:linear-gradient(rgba(107, 191, 227, 0.5), rgba(107, 191, 227, 0.5)), url(../../assets/images/adminbg.jpeg) no-repeat ;
    height: 442px;
}