.loginbg {
    background: url(../../assets/images/loginbg.jpg) no-repeat ;
    width:100%;
    background-size: cover;
    height: 542px;
}
.formbg {
    background:linear-gradient(rgba(107, 191, 227, 0.5), rgba(107, 191, 227, 0.5)), url(../../assets/images/adminbg.jpeg) no-repeat ;
    height: 442px;
}